div {
  max-width: 600px;
  margin: auto;
  justify-content: center;
}

h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  margin: 5px;
  font-size: medium;
}

input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 190px;
  margin: 5px;
}

button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 60px;
  margin: 5px;
}

p {
  width: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline-table;
  margin: 5px;
  border-width: 1px;
  border-style: dashed;
  border-radius: 10px;

  padding: 5px;
  font-size: medium;
}

QueryList {
  width: 100%;
  box-sizing: border-box;
}
